In [1]:
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [2]:
# df should be converted to key:value pair i mean dictionary before push it to mongodb , beacause we know that mongo db is nosql based documented data base and it accecpt data as key:value pair

data = df.to_dict(orient='records')      #orient is the way that how to create dict , well it compatible with json and mongodb etc

In [4]:
data[0]

{'id': 1,
 'Gender': 'Male',
 'Age': 44,
 'Driving_License': 1,
 'Region_Code': 28.0,
 'Previously_Insured': 0,
 'Vehicle_Age': '> 2 Years',
 'Vehicle_Damage': 'Yes',
 'Annual_Premium': 40454.0,
 'Policy_Sales_Channel': 26.0,
 'Vintage': 217,
 'Response': 1}

In [12]:
db_name = 'MLops-Project1'
collection_name = 'project1_data'

connection_url = "mongodb+srv://santosh4thmarch_db_user:santosh@#9605@cluster0.5cjjjrf.mongodb.net/?appName=Cluster0"

In [17]:
# client = pymongo.MongoClient(connection_url)
# data_base = client[db_name]
# collection = data_base[collection_name]


import pymongo
from urllib.parse import quote_plus

# 1. Define your credentials raw
username_raw = "santosh4thmarch_db_user"
password_raw = "santosh@#9605"

# 2. "Escape" them (convert symbols like @ to %40)
username = quote_plus(username_raw)
password = quote_plus(password_raw)

# 3. Construct the URL safely using f-strings
# Note: I removed the raw credentials from the middle and used the variables
db_name = 'MLops-Project1'
collection_name = 'project1_data'

connection_url = f"mongodb+srv://{username}:{password}@cluster0.5cjjjrf.mongodb.net/?appName=Cluster0"

# 4. Connect
client = pymongo.MongoClient(connection_url)
data_base = client[db_name]
collection = data_base[collection_name]

print("Connection Successful!")

Connection Successful!

In [18]:
pushing = collection.insert_many(data)          # insert_many() for pushing multiple kay:value pair into mongodb

In [20]:
type(pushing)

pymongo.results.InsertManyResult